{% extends 'base.html' %}
        {% block content %}
        <section class="page-section" id="news">
            <div class="container">
                <div class="text-center fs-2">
                    <h2 class="section-heading text-uppercase">News</h2>
                    <p class="text-danger">Samedi 1er mars de 9h00 à 12h00 : Porte ouverte du lycée avec présentation des ateliers du BTS CIEL</p>
                </div>
            </div>
        </section>
        <!-- presentation-->
        <section class="page-section" id="presentation">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Présentation</h2>
                    <p class="">Note BTS propose de se former à la Cybersécurité, l'Informatique et réseaux et à l'Electronique. 
                        C'est une formation sur 2 ans qui permet aux étudiant de se préparer au monde professionnel par la mise en pratique régulière
                        des connaissances autour du numérique mais également de poursuivre ses études après le bac+2 grâce aux cours scientifiques
                         (Mathématiques et Physique) et à l'enseignement en anglais.<br>
                        Cette formation peut se faire en alternance. Plus de détail <a href="#alternance">ici</a> 
                    </p>
                </div>
                <div class="row text-center">
                    <div class="col-md-6">
                        <h3 class="my-3">Option A - Informatique et Réseaux</h3>
                        <p class="text-muted">Développement d'application <br> Conception d'infrastruture réseaux</p>
                        <img src="/static/assets/img/informatique_480.jpg" alt="Informatique">
                        <h4 class="my-3">Programmation</h4>
                    </div>
                    <div class="col-md-6">
                        <h3 class="my-3">Option B - Electronique et Réseaux</h3>
                        <p class="text-muted">Conception de système embarqué communiquant <br>Fabrication et réparation de circuit électronique</p>
                        <img src="/static/assets/img/electronique_480.jpg" alt="Electronique">
                        <h4 class="my-3">Electronique</h4>
                    </div>
                </div>       
                <div class="row text-center">
                    <h3 class="my-3">Tronc commun</h3>
                    <p class="text-muted">Dans les deux options, les étudiants suivent les enseignements suivants : </p>
                    <div class="col-md-6">
                        <img src="/static/assets/img/cyber_480.jpg" alt="Cybersécurité">
                        <h4 class="my-3">Cybersécurité</h4>
                        <p class="my-3">Sécurisation des systèmes informatiques</p>
                    </div>
                    <div class="col-md-6">
                        <img src="/static/assets/img/reseaux_480.jpg" alt="Réseaux">
                        <h4 class="my-3">Réseaux</h4>
                        <p class="my-3">Mise en réseaux des équipements</p>
                    </div>
                </div>                
            </div>
        </section>
        <!-- programme-->
        <section class="page-section" id="programme">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Programme</h2>
                    <h3 class="my-4 text-muted">Première année</h3>
                    <p>Culture générale et expression : 3h00 </p>
                    <p>Anglais : 2h00 </p>
                    <p>Anglais technique : 1h00 </p>
                    <p>Mathématiques : 2h30 </p>
                    <p>Physique appliquée : 5h00 </p>
                    <p>Spécialité : 13h30 </p>
                    <p>Accompagnement personnalisé : 3h00</p>
                </div>
                <br>
                <div class="row text-center">
                    <h3 class="my-4 text-muted">Deuxième année</h3>
                    <div class="col-md-6">
                        <h4 class="my-3">Option A - Informatique et Réseaux</h4>
                        <p>Culture générale et expression : 3h00 </p>
                        <p>Anglais : 2h00 </p>
                        <p>Anglais technique : 1h00 </p>
                        <p>Mathématiques : 2h30 </p>
                        <p>Physique appliquée : 4h00 </p>
                        <p>Spécialité : 16h30 </p>
                        <p>Accompagnement personnalisé : 1h00</p>
                    </div>
                    <div class="col-md-6">
                        <h4 class="my-3">Option B - Electronique et Réseaux</h4>
                        <p>Culture générale et expression : 3h00 </p>
                        <p>Anglais : 2h00 </p>
                        <p>Anglais technique : 1h00 </p>
                        <p>Mathématiques : 2h30 </p>
                        <p>Physique appliquée : 6h30 </p>
                        <p>Spécialité : 14h00 </p>
                        <p>Accompagnement personnalisé : 1h00</p>
                    </div>
                </div>
                <div class="row text-center">
                    <h3 class="my-4 text-muted">Stage</h3>
                    <p>Un stage de 6 semaines est à faire en fin de première année afin de valider son parcours professionnel.</p>
                </div>
            </div>
        </section>
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="projets">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Projets</h2>
                    <h3 class="section-subheading text-muted">Voici quelques projets réalisés par nos étudiants.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/static/assets/img/portfolio/1.png" alt="Pupitre vote" >
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Vote cantine</div>
                                <div class="portfolio-caption-subheading text-muted">Système électonique embarqué de vote communiquant avec un serveur et des applications web et mobile</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/static/assets/img/portfolio/2.png" alt="plot lumineux" >
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Plot entrainement reflexe</div>
                                <div class="portfolio-caption-subheading text-muted">Système électonique embarqué de vote communiquant avec un serveur et une application mobile</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/static/assets/img/portfolio/3.jpg" alt="Baie info" >
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Réalisation baie informatique</div>
                                <div class="portfolio-caption-subheading text-muted">Conception et assemblage d'une baie informatique</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- lycee-->
        <section class="page-section bg-light" id="lycee">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Lycée Raymond Queneau</h2>
                    <h3 class="section-subheading text-muted">Yvetot</h3>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <iframe 
                            src="https://www.openstreetmap.org/export/embed.html?bbox=0.7656955718994142%2C49.61003906113448%2C0.773366689682007%2C49.613028389875176&amp;layer=mapnik" 
                            style="border: 1px solid black"
                            width="400"
                            height="300"
                            >
                        </iframe>
                        <br>
                        <small><a href="https://www.openstreetmap.org/#map=18/49.611534/0.769531">Afficher une carte plus grande</a></small>
                    </div>
                    <div class="col-md-6 mx-auto text-center">
                        <img src="/static/assets/img/queneau_logo.jpg" alt="icone du lycée">
                        <p class="large text-muted">
                            Le lycée se situe à Yvetot en plein centre de la Seine Maritime. Il est en fin de restructuration et 
                            apporte un bon cadre de vie pas la taille raisonnable de la ville.
                        </p>
                        <a href="https://queneau.lycee.ac-normandie.fr/">En savoir plus sur le lycée.</a>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- Recrutement-->
        <section class="page-section bg-light" id="recrutement">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Recrutement</h2>
                    <p class="my-2">Le recrutement se fait à la suite d'un bac général, technologique ou professionnel.<br></p>
                    Retrouvé notre formation sur parcours sup : <br>
                     <a href="https://dossierappel.parcoursup.fr/Candidats/public/fiches/afficherFicheFormation?g_ta_cod=9755&typeBac=0&originePc=0">Informatique et Réseaux</a> | 
                     <a href="https://dossierappel.parcoursup.fr/Candidats/public/fiches/afficherFicheFormation?g_ta_cod=17930&typeBac=0&originePc=0">Electronique et Réseaux</a>
                    <h3 class="my-4 text-muted"> Alternance</h3>
                    <p class="">Il est possible de postuler sur un poste en alternance ou classique. Il est 
                        toujours possible de débuter une alternance à tout moment des deux années.
                    </p>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contactez nous</h2>
                    <h3 class="section-subheading text-muted text-danger">Pour tout renseignement ou demande de visite, utilisez le formulaire ci-dessous.</h3>
                </div>
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" method="POST" action="/bonjour" data-sb-form-api-token="API_TOKEN">
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" id="name" name="nom" type="text" placeholder="Votre nom *" required>
                                <div class="invalid-feedback">Le nom est obligatoire.</div>
                            </div>
                
                            <div class="form-group">
                                <input class="form-control" id="email" name="email" type="email" placeholder="Votre Email *" required>
                                <div class="invalid-feedback">L'email est obligatoire.</div>
                                <label id="email2">E-mail : <input name="email_add"></label>
                            </div>
                
                            {% if QUESTION %}
                            <div class="form-group">
                                <input class="form-control" id="reponse" name="reponse" type="text" placeholder="{{ QUESTION }}" required>
                                <div class="invalid-feedback">La réponse est obligatoire.</div>
                            </div>
                
                            <input type="hidden" name="question_posée" value="{{ numero }}">
                            {% endif %}
                
                            <div class="form-group mb-md-0">
                                <input class="form-control" id="phone" name="telephone" type="tel" placeholder="Votre numéro de téléphone *" required>
                                <div class="invalid-feedback">Le numéro de téléphone est obligatoire.</div>
                            </div>
                        </div>
                
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0">
                                <textarea class="form-control" id="message" name="message" placeholder="Votre message *" required></textarea>
                                <div class="invalid-feedback">Le message est obligatoire.</div>
                            </div>
                        </div>
                    </div>
                
                    <input type="hidden" name="token_formulaire" value="{{ token_formulaire }}">
                
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center text-white mb-3">
                            <div class="fw-bolder">Formulaire envoyé</div>
                        </div>
                    </div>
                    <div class="d-none" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3">Erreur à l'envoi du message.</div>
                    </div>
                
                    <div class="text-center">
                        <input class="btn btn-primary btn-xl text-uppercase" id="" type="submit" value="Envoyer message">
                    </div>
                </form>
                
                              
            </div>
        </section>
        <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/static/assets/img/close-icon.svg" alt="Close modal" ></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Vote cantine</h2>
                                    <img class="img-fluid d-block mx-auto" src="/static/assets/img/portfolio/1.png" alt="..." >
                                    <p>
                                        Ce projet a été réalisé en commun avec les étudiants des deux options. Ils ont collaboré pour construire un pupitre 
                                        connecté en xbee avec un serveur afin de transmettre les votes des étudiants. Le serveur collecte les données dans une 
                                        base de données et les diffuse au chef de cantine par un site web et aux utilisateurs de la cantine par un panneau LED
                                         de diffusion de message.
                                    </p>
                                    <p>Technologie : </p>
                                    <ul class="list-inline">
                                        <li>Electronique embarquée</li>
                                        <li>Arduino</li>
                                        <li>Xbee</li>
                                        <li>Wifi</li>
                                        <li>C++</li>
                                        <li>QT/QML</li>
                                        <li>HTML/CSS/PHP/SQL</li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Fermer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/static/assets/img/close-icon.svg" alt="Close modal" ></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Plots lumineux</h2>
                                    <img class="img-fluid d-block mx-auto" src="/static/assets/img/portfolio/2.png" alt="..." >
                                    <p>
                                        Les étudiants ont réalisé des plots lumineux pour entrainer des sportifs. A partir d'un smartphone, les
                                        sportifs peuvent choisir un type d'entrainement (réflexe, endurance...) et ensuite les plots sont allumés 
                                        pour indiquer au sportifs de le toucher. Le touché est détécté par le plot et ensuite le temps de réaction
                                        est calculé et transmis à un serveur pour faire des statistiques.
                                    </p>                                    
                                    <p>Technologie : </p>
                                    <ul class="list-inline">
                                        <li>Electronique embarquée</li>
                                        <li>Arduino</li>
                                        <li>Xbee</li>
                                        <li>Wifi</li>
                                        <li>C++</li>
                                        <li>QT/QML</li>
                                        <li>HTML/CSS/PHP/SQL</li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Fermer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/static/assets/img/close-icon.svg" alt="Close modal" ></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Baie informatique</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="/static/assets/img/portfolio/3.jpg" alt="..." >
                                    <p>
                                        Les étudiants ont réalisé l'assemblage de la baie informatique pour un réseau d'entreprise avec 
                                        la configuration des équipements (Switch, routeur, serveur)
                                    </p>                                    
                                    <p>Technologie : </p>
                                    <ul class="list-inline">
                                        <li>Windows server 2022</li>
                                        <li>Adressage IP</li>
                                        <li>Switch/routeur</li>
                                        <li>DHCP</li>
                                        <li>DNS</li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Fermer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; BTS-Ciel-Queneau 2025</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
            {% endblock %}

      